# 第五章 pandas入门

In [13]:
import pandas as pd
from pandas import Series, DataFrame

In [14]:
import numpy as np

## 5.1 pandas数据结构介绍

### Series

In [4]:
obj = pd.Series([4, -5 ,4, 6])
obj

0    4
1   -5
2    4
3    6
dtype: int64

In [6]:
obj.values

array([ 4, -5,  4,  6], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2 = pd.Series([4, 7, -5, 3], index=['d','b','a', 'e'])
obj2

d    4
b    7
a   -5
e    3
dtype: int64

In [9]:
obj2.index

Index(['d', 'b', 'a', 'e'], dtype='object')

In [10]:
obj2['a']

-5

In [11]:
obj2['d'] = 6
obj2

d    6
b    7
a   -5
e    3
dtype: int64

In [12]:
obj2[['a', 'b', 'd']] # 可以选取一组值

a   -5
b    7
d    6
dtype: int64

In [15]:
# numpy函数或类似numpy的运算
obj2[obj2 > 0]

d    6
b    7
e    3
dtype: int64

In [16]:
obj2 * 2

d    12
b    14
a   -10
e     6
dtype: int64

In [17]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
e      20.085537
dtype: float64

In [18]:
'b' in obj2

True

In [19]:
'f' in obj2

False

In [20]:
# 通过字典创建
sdata = {'Ohio': 35000, 'Taxes': 71000, 'Oregon': 90000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Taxes     71000
Oregon    90000
dtype: int64

In [22]:
# 传入字典的键改变顺序
states = ['Taxes', 'Oregon', 'Ohio', 'California']
obj4 = pd.Series(sdata, states)
obj4

Taxes         71000.0
Oregon        90000.0
Ohio          35000.0
California        NaN
dtype: float64

In [23]:
obj4.isnull()

Taxes         False
Oregon        False
Ohio          False
California     True
dtype: bool

In [24]:
obj4.notnull()

Taxes          True
Oregon         True
Ohio           True
California    False
dtype: bool

In [25]:
pd.isnull(obj4)

Taxes         False
Oregon        False
Ohio          False
California     True
dtype: bool

In [26]:
pd.notnull(obj4)

Taxes          True
Oregon         True
Ohio           True
California    False
dtype: bool

In [28]:
obj3 + obj4 # 自动对齐数据

California         NaN
Ohio           70000.0
Oregon        180000.0
Taxes         142000.0
dtype: float64

In [29]:
# Series本身和索引的name属性
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
Taxes         71000.0
Oregon        90000.0
Ohio          35000.0
California        NaN
Name: population, dtype: float64

In [30]:
# 赋值改变索引
obj

0    4
1   -5
2    4
3    6
dtype: int64

In [31]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve   -5
Jeff     4
Ryan     6
dtype: int64